<script type="text/template" id="responsive-region-visibility-template">
    <div class="js-model-state-request alert alert-info">
        Загрузка ...
    </div>
    <div class="js-model-state-error alert alert-danger">
        Не удалось загрузить данные
    </div>
    <div class="js-model-state-sync">
    </div>
</script>

<script type="text/template" id="responsive-region-opacity-template">
    <div class="js-model-state-error alert alert-danger">
        Не удалось загрузить данные
    </div>
    <div class="js-model-state-sync">
    </div>
</script>
